# Personal tax documents
2025/
2026/
IndMoney/
zerodha/
platform/

# Personal files
UST-to-INR.xls
EquityAwardsCenter_EquityDetails_*.csv
FY_*.pdf
rovo-demo.png

# Backups
*.bak

# macOS
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
